<div class="container">
    <div class="text-center">
        <h2>Profile</h2>
    </div>
    <hr>
    <div class="row justify-content-sm-center">
        <div class="col">
                <p class="card-text">Shop name: {{shopName}}</p>
                <p class="card-text">Merchant number: {{merchantNumber}}</p>
                <p class="card-text">Street: {{merchantStreetAddress}}</p>
                <p class="card-text">City: {{city}}</p>
                <p class="card-text">Region code: {{regionCode}}</p>
                <p class="card-text">Country code: {{countryCode}}</p>
        </div>
        
    </div>
    <hr>
</div>